

<nav class="navbar navbar-default navbar-fixed-top">

	

	<form class="row topbar-search-wrapper" ng-submit="startSearch()">
		<div class="col-xs-2">
			<span class="glyphicon glyphicon-menu-left search-back" onclick="history.back()"></span>
		</div>
		
		<input type="text" class="search-input col-xs-8" placeholder="Search" ng-model = "inputKeyword"  required>	
		<button class="search-btn col-xs-2" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	</form>		
		

</nav>



<section class="news-wrapper-search" detect-bottom="loadMore()">

	<div ng-hide="newsList.length === 0">	

	    <div class="news-item" ng-repeat="news in newsList">
	    	<div class="media">

				<!-- 从JSON文件里面获取thumbnail图片 -->
				<div class="media-left">
					<div class="newsimg">
						<a href="#/news/{{news.id}}/{{theQquery}}/{{page}}">  <!--ng-if="news.thumbnail" -->
							<img ng-src="{{news.thumbnail}}" class="news-item-img"/><!--alt="{{news.title}}"-->
							<!-- 如不成功，检查一下本行代码的src这种写法对不对对不对 -->
						</a>
					</div>
				</div>

				<!-- 从JSON文件里面获取文字信息 -->
				<div class="media-body">

					<a href="#/search/{{news.id}}/{{searchKeyword}}/{{page}}" ng-bind-html="news.title" class="postTitle"></a>
					<div class="postSubtitle-wrapper">
						<a href="#/news/{{news.id}}/{{page}}" ng-bind-html="news.author.name" class="postSubtitle"></a>
						<a href="#/news/{{news.id}}/{{page}}" ng-bind-html="news.date" class="postSubtitle"></a>
					</div>
				</div>
			</div>
			<!--<hr>-->
		</div>


	</div>
	<div ng-show="showLoader" class="loader">
		<h1 class="loader-text"><img src="img/loader.gif"></h1>
	</div>
	<div ng-show="noResult">
		<h1>没有相关文章</h1>
	</div>
</section>
